obj/*
package/*
packages/.DS_Store
*.deb
.theos/packages/com.samplasion.custombetaalert-0.0.1
.theos/packages/com.samplasion.custombetaalert-1.0.0
.theos/packages/com.samplasion.custombetaalert-0.0.1
.theos/packages/com.samplasion.custombetaalert-0.0.1
.theos/_/DEBIAN/control
.theos/_/Library/MobileSubstrate/DynamicLibraries/CustomBetaAlert.dylib
.theos/_/Library/MobileSubstrate/DynamicLibraries/CustomBetaAlert.plist
.theos/_/Library/PreferenceBundles/custombetaalertprefs.bundle/custombetaalertprefs
.theos/_/Library/PreferenceBundles/custombetaalertprefs.bundle/icon.jpg
.theos/_/Library/PreferenceBundles/custombetaalertprefs.bundle/Info.plist
.theos/_/Library/PreferenceBundles/custombetaalertprefs.bundle/Root.plist
.theos/_/Library/PreferenceLoader/Preferences/custombetaalertprefs.plist
.theos/last_package
.theos/obj/debug/arm64/CustomBetaAlert.dylib
.theos/obj/debug/arm64/CustomBetaAlert.dylib.dSYM/Contents/Resources/DWARF/CustomBetaAlert.dylib
.theos/obj/debug/arm64/Tweak.xm.d53d1871.o
.theos/obj/debug/arm64/Tweak.xm.mm
.theos/obj/debug/armv7/CustomBetaAlert.dylib
*.dylib
.theos/obj/debug/armv7/Tweak.xm.0ce188a1.o
*.mm
.theos/obj/debug/custombetaalertprefs.bundle/Root.plist
