Package: com.samplasion.custombetaalert
Name: CustomBetaAlert
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Samplasion
Author: Samplasion
Section: Tweaks
