<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable CBA</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.samplasion.custombetaalertprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enabling conditions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.samplasion.custombetaalertprefs</string>
			<key>key</key>
			<string>conditions</string>
			<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			<key>validTitles</key>
				<array>
					<string>Always</string>
					<string>Only when charging</string>
					<string>Only when not charging</string>
				</array>
		</dict>
		<dict><!-- [[UIDevice currentDevice] batteryState] == UIDeviceBatteryStateCharging -->
			<key>footerText</key>
			<string>Tip: you can use placeholders in your text: the "%iOS" placeholder will be replaced with the iOS release you're running, "%batt" will be replaced by the current battery level and "%model" is ypur device model. (eg. "%model, iOS %iOS, %batt%" would be "iPad, iOS 12, 67%" on an iPad 6th gen, on iOS 12, with the 67% of battery)</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>A new iOS update is now available. Please update from the iOS %iOS beta.</string>
			<key>defaults</key>
			<string>com.samplasion.custombetaalertprefs</string>
			<key>key</key>
			<string>title</string>
			<key>label</key>
			<string>Notification Title</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.samplasion.custombetaalertprefs</string>
			<key>key</key>
			<string>msg</string>
			<key>label</key>
			<string>Notification Subtitle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>Close</string>
			<key>defaults</key>
			<string>com.samplasion.custombetaalertprefs</string>
			<key>key</key>
			<string>button</string>
			<key>label</key>
			<string>"Close" Button text</string>
		</dict>
    <dict>
      <key>cell</key>
      <string>PSButtonCell</string>
      <key>label</key>
      <string>Save</string>
      <key>action</key>
      <string>save</string>
    </dict>
    <!--<dict>
      <key>cell</key>
      <string>PSButtonCell</string>
      <key>label</key>
      <string>Respring</string>
      <key>action</key>
      <string>respring</string>
    </dict>-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Source Code</string>
		</dict>
		<dict>
			<key>action</key>
			<string>viewSource</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Source Code</string>
		</dict>
	</array>
	<key>title</key>
	<string>CustomBetaAlert</string>
</dict>
</plist>
