Package: com.samplasion.custombetaalert
Name: CustomBetaAlert
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Samplasion
Author: Samplasion
Section: Tweaks
Version: 0.0.1
Installed-Size: 220
