Package: com.samplasion.custombetaalert
Name: CustomBetaAlert
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Recreate the annoying beta update message, but now with custom text!
Maintainer: Samplasion
Author: Samplasion
Section: Tweaks
Version: 1.1.0
Installed-Size: 236
